@font-face {
    font-family: NotoSans-Regular;
    src: url(./assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(./assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: NotoSans-Medium;
    src: url(./assets/fonts/NotoSans-Medium.ttf);
}

@font-face {
    font-family: NotoSans-SemiBold;
    src: url(./assets/fonts/NotoSans-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:NotoSans-Regular;
}

:root {
    --extradark: #120F13;
    --dark: #0B090C;
    --mediumdark: #333333;
    --semidark:#252329;
    --lightgray:#3C393F;
    --textcolor:#E0E0E0;
    --textcolor2:#BDBDBD;
    --titlecolor:#828282;
    --buttoncolor:#2F80ED;
    --logoutcolor: #EB5757;
  }

  @media only screen and (max-width:1200px) {

    .messagge-form input{
        width: 90%;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--textcolor);
    }
    .messagge-form .send-btn{
        width: 10%;
        margin: auto;
    }
}

@media only screen and (max-width:1024px) {
    .sidebar{
        width: 30%;
    }
    .room{
        width: 70%;
    }
    .group-chat{
        width: 100%;
    }
    .user-options{
        width: 30%;
    }
    .sidebar-header{
        width: 30%;
    }
    .group-chat-name{
        width: 70%;
    }
    .messagge-form{
        width: 60%;
    }
    .messagge-form input{
        width: 90%;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--textcolor);
    }
    .messagge-form .send-btn{
        width: 10%;
        margin: auto;
    }
}

@media only screen and (max-width:900px) {
    .sidebar{
       display: none;
    }
    .room{
        width: 100%;
    }
    .group-chat-name{
        width: 100%;
    }
    .group-chat {
        width: 100%;
    }
    .messagge-form{
        width: 90%;
    }

    .messagge-form input{
        width: 90%;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--textcolor);
    }
    .messagge-form .send-btn{
        width: 10%;
        margin: auto;
    }
    .menubtn{
        visibility: visible;
        opacity: 1;
    }
    .user-options{
        width: 300px;
        color: var(--textcolor2);
    }
    .sidebar-header{
        width: 300px;
    }
    .sidebar-main{
        color: var(--textcolor2);
    }
}
@media only screen and (max-width:450px) {
    .messagge-form input{
        width: 80%;
        padding:0 15px;
    }
    .messagge-form .send-btn{
        width: 15%;
    }
    .group-chat-messagges{
        font-size: 15px;
        padding: 0 10px;
    }
    .sender-name{
        font-size: 12px;
    }
    .sender-date{
        font-size: 10px;
    }
    .messagge-content p{
        font-size: 14px;
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }