.group-chat {
}
.chat-container{
    margin: auto;
    width: 95%;
}
.group-chat-name {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    padding: 15px;
    background-color: var(--dark);
}
.group-chat-messagges{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.group-chat-messagge {
    display: flex;
    align-items: center;
    gap: 15px;
}
.messagge-info{
    margin-top: 8px;
}
.messagge-desc {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sender-name {
    font-family: NotoSans-SemiBold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.035em;
    color: var(--titlecolor);
}

.send-date {
    font-family: NotoSans-Regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.035em;
    color:var(--titlecolor);
}
.messagge-content p{
font-family: NotoSans-Regular;
font-size: 18px;
line-height: 25px;
letter-spacing: -0.035em;
color: var(--textcolor);
}

.messagge-form{
    width: 75%;
    padding: 5px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    border-radius: 8px;
}
.messagge-form input{
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textcolor);
}
.messagge-form .send-btn{
    border: none;
   padding: 10px 15px;
   border-radius: 8px;
    background-color: var(--buttoncolor);
} 
.messagge-form input::placeholder{
font-family: NotoSans-Regular;
font-size: 14px;
line-height: 19px;
letter-spacing: -0.035em;
color: var(--titlecolor);
}

.messagge-img img{
    object-fit: cover;
    border-radius: 8px;
}

.chat-title{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menubtn{
    display: none;
    visibility: hidden;
    opacity: 0;
    background-color: red;
}